<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <system.serviceModel>
    <client>
      <endpoint name="SmartGridEndpoint"
                address="net.tcp://localhost:9000/SmartGridService"
                binding="netTcpBinding"
                bindingConfiguration="LargeMessageBinding"
                contract="Common.ISmartGridService"/>
    </client>

    <bindings>
      <netTcpBinding>
        <binding name="LargeMessageBinding"
                 maxReceivedMessageSize="67108864"
                 maxBufferSize="67108864"
                 transferMode="Buffered">
          <readerQuotas maxDepth="64"
                        maxStringContentLength="67108864"
                        maxArrayLength="67108864"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
