<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<system.serviceModel>
		<client>
			<endpoint name="SmartGridEndpoint"
					  address="net.tcp://localhost:9000/SmartGridService"
					  binding="netTcpBinding"
					  bindingConfiguration="SmartGridBinding"
					  contract="Common.ISmartGridService"/>
		</client>

		<bindings>
			<netTcpBinding>
				<binding name="SmartGridBinding"
						 maxReceivedMessageSize="67108864"
						 maxBufferSize="67108864"
						 transferMode="Buffered"
						 sendTimeout="00:05:00"
						 receiveTimeout="00:10:00"
						 openTimeout="00:01:00"
						 closeTimeout="00:01:00">
					<readerQuotas maxDepth="64"
								  maxStringContentLength="67108864"
								  maxArrayLength="67108864"/>
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
</configuration>
