<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
  
    <add key="dataPath" value="SmartGridData"/>
    
    <add key="F_threshold" value="0.5"/>
    
    <add key="P_max_threshold" value="10000"/>
    
    <add key="OutOfBand_Pct" value="0.25"/>
  </appSettings>

  <system.serviceModel>
    <services>
      <service name="Service.SmartGridService"
               behaviorConfiguration="SmartGridBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9000"/>
          </baseAddresses>
        </host>
        <endpoint address="SmartGridService"
                  binding="netTcpBinding"
                  bindingConfiguration="SmartGridBinding"
                  contract="Common.ISmartGridService"/>
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="SmartGridBinding"
                 maxReceivedMessageSize="67108864"
                 maxBufferSize="67108864"
                 transferMode="Buffered"
                 sendTimeout="00:05:00"
                 receiveTimeout="00:10:00"
                 openTimeout="00:01:00"
                 closeTimeout="00:01:00">
          <readerQuotas maxDepth="64"
                        maxStringContentLength="67108864"
                        maxArrayLength="67108864"/>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="SmartGridBehavior">
          <serviceMetadata/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
